.sd{
    position: fixed;
    height: 500px;
    width: 300px;
    z-index: 100;
    background-color: rgba(108, 107, 107,0.9);
}

.sd_link{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 90px;
}

.sd_link a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10%;
}


.sd_link a:hover{
    color: rgb(28, 28, 28);
}
.sd_link a.active{
    background-color: #ff0055;
    color: rgb(28, 28, 28);

    
}

.sd_link{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 90px;
}

.sd_link a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
}


.sd_link a:hover{
    color: black;
}
.sd_link a.active{
    border: 1.5px solid black;
    color: black;
}