.nav_links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav_links a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    padding: 5px;
}


.nav_links a:hover{
    color: rgb(28, 28, 28);
}
.nav_links a.active{
    border: 1.5px solid black;
    color: black;
}
